In [113]:
n=5

In [114]:
range(2,n)

range(2, 5)

In [115]:
for i in range(2,5):
    print(i)

2
3
4

In [116]:
def fibonacci(n):
    temp=0
    array=[0,1]
    

    for i in range(2,n+1):
 
            
        print('i',i)
        temp=array[i-1]+array[i-2]
        print(temp)
        array.append(temp)
        print(array)
            
    return temp

In [119]:
fibonacci(7)

i 2
1
[0, 1, 1]
i 3
2
[0, 1, 1, 2]
i 4
3
[0, 1, 1, 2, 3]
i 5
5
[0, 1, 1, 2, 3, 5]
i 6
8
[0, 1, 1, 2, 3, 5, 8]
i 7
13
[0, 1, 1, 2, 3, 5, 8, 13]

13

In [73]:
array=[0,1,1,2,3,5]

In [74]:
array[6-1]+array[6-2]

8

In [110]:
n=6

In [111]:
array=[0,1]

In [112]:
for i in range(2,n+1):   
    print('i,',i)
    temp=array[i-1]+array[i-2]
    print('resultado=',temp)
    array.append(temp)
    print(array)

i, 2
resultado= 1
[0, 1, 1]
i, 3
resultado= 2
[0, 1, 1, 2]
i, 4
resultado= 3
[0, 1, 1, 2, 3]
i, 5
resultado= 5
[0, 1, 1, 2, 3, 5]
i, 6
resultado= 8
[0, 1, 1, 2, 3, 5, 8]